* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('./imagens/fundo-f1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

header{
    background-image: url('./imagens/titulo-f1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
}

h1, h2{
    background-color: black;
    color: white;
    background-image: url('./imagens/bandeira2.jpg');
    background-repeat: no-repeat;
    background-position: right;
}

.lista-links{
    list-style: none;
}


.linkspag:link{
    text-decoration: none;
    color: blue;
}

.linkspag:visited{
    text-decoration: none;
    color: blue;
}

.linkspag:hover{
    color: rgb(124, 124, 32);
    text-decoration: underline;
} 

.linkspag:active{
    color: rgb(124, 124, 32);
}

.linkspag2 a{
    color: black;
    text-decoration: none;
}

.linkspag2:link{
    text-decoration: none;
    color: black;
}

.linkspag2:visited{
    text-decoration: none;
    color: black;
}


p{
    text-indent: 10%;
    line-height: 2;
}

.botao-topo{
    color: blue;
    text-align: center;
    text-decoration: none;
}

.botao-topo:link{
    color: blue;
}

.botao-topo:visited{
    color: blue;
}

.botao-topo:hover{
    text-decoration: underline;
}

.botao-topo:active{
    text-decoration: none;
    color: blue;
}